<div class="container wow slideInDown" data-wow-duration="1s">
    <div class="card" id="view-detail">
        <div class="card-body">
            <footer class="blockquote-footer"><cite title="Source Title">{{quote.author}}</cite></footer>
            <p>{{quote.name}} || {{quote.completeDate|date}}</p>
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-xs-2 col-sm-4">
                        <span><button class="m-1">{{quote.upVote}}</button> <button id="like" href (click)="likeVote()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>  upvote</button></span>
                    </div>
                    <div class="col-xs-2 col-sm-4"> </div>
                    <div class="col-xs-2 col-sm-4">
                       <span> <button class="m-1">{{ quote.downVote}}</button> <button id="dislike" href (click)="dislikeVote()"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>  downvote</button></span>
                    </div>
                    <div class="col-xs-2 col-sm-4"> </div>
                </di>
            </div>

            <button id="trash" (click)= 'quoteDelete(true)' class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </div>
</div>


